<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<property resource="bootstrap.properties" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>	
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="LOG_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file.directory}product.info.log</file>        
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.file.directory}%d{yyyy-MM-dd}/product.id-%i.info.zip</fileNamePattern>
            <maxFileSize>${log.file.max.size}</maxFileSize> 
              <totalSizeCap>${log.file.total.size.cap}</totalSizeCap>
        	<maxHistory>${log.file.max.history}</maxHistory>
        </rollingPolicy>        
	    <filter class="ch.qos.logback.classic.filter.LevelFilter">
	        <level>INFO</level>
	        <onMatch>ACCEPT</onMatch>
        	<onMismatch>DENY</onMismatch>
	    </filter>	    
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="LOG_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file.directory}product.error.log</file>        
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.file.directory}%d{yyyy-MM-dd}/product.id-%i.error.zip</fileNamePattern>
            <maxFileSize>${log.file.max.size}</maxFileSize> 
            <totalSizeCap>${log.file.total.size.cap}</totalSizeCap>
        	<maxHistory>${log.file.max.history}</maxHistory>        	
        </rollingPolicy>        
	    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	        <level>WARN</level>
	    </filter>	    
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
<!--         %d %p %c: %m %n        
 -->    </appender>

    <root level="INFO">
       <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.example.product" additivity="false" level="ALL">
       <appender-ref ref="CONSOLE"/>
       <appender-ref ref="LOG_INFO"/>
       <appender-ref ref="LOG_ERROR"/>
    </logger>

</configuration>